<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory> 
	
		<property name="dialect">org.hibernate.dialect.HSQLDialect</property>
		<property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
		<property name="connection.url">jdbc:hsqldb:hsql://localhost:8090/disco</property>
		<property name="connection.username">sa</property>
		<property name="connection.password"></property>
		
		<property name="c3p0.min_size">1</property>
		<property name="c3p0.max_size">5</property>
		<property name="c3p0.timeout">300</property>
		<property name="c3p0.max_statements">50</property>
		<property name="c3p0.idle_test_period">300</property>
		
		<property name="current_session_context_class">thread</property>
		<property name="hibernate.jdbc.batch_size">20</property>
		
        <!-- Mostra o SQL-->
        <property name="show_sql">false</property>		
        <property name="format_sql">false</property>
        
        <!-- Mapping -->
        <mapping class="br.com.seniocaires.discos.entidade.Disco"/>

	</session-factory>
</hibernate-configuration>